body{
    background-color: #495464;
}
.container
{
    text-align: center;
    margin: auto;
    width: 70%;
}
.dice
{
    display: inline-block;
    margin: 30px;
    
}
h1{
    margin:20px;
    font-family: 'Lobster', cursive;
    font-size: 7rem;
    color: #bbbfca;
}
p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Dancing Script', cursive;
  }
  